
/* 
File: style.css
Author: dargai Dániel
Copyright: 2024, Dargai Dániel
Group: Szoft I-2-N
Date: 2024-05-30
Github: https://github.com/danidargai/
Licenc: GNU GPL
*/

body {
    background-color: lightgray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}